  <div class="row">
    <div class="col-3 col-sm-auto">
      <a class="btn btn-outline-secondary btn-block" (click)="navigateTo(navigationTarget.Start)"><<</a>
    </div>
    <div class="col-3 col-sm-auto">
      <a class="btn btn-outline-secondary btn-block" (click)="navigateTo(navigationTarget.Previous)"><</a>
    </div>
    <div class="col-3 col-sm-auto">
      <a class="btn btn-outline-secondary btn-block" (click)="navigateTo(navigationTarget.Next)">></a>
    </div>
    <div class="col-3 col-sm-auto">
      <a class="btn btn-outline-secondary btn-block" (click)="navigateTo(navigationTarget.End)">>></a>
    </div>
  </div>
