<div class="card bg-primary">
  <div class="card-header text-white">{{ pageTitle }}</div>
  <div class="card-body bg-light">

    <form #form="ngForm">
      <div class="form-group">
        <label for="articleTitle">Title</label>
        <input #title="ngModel" id="articleTitle" name="articleTitle" class="form-control" [(ngModel)]="newArticleTitle" required />
        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
          Title is required.
        </div>
      </div>

      <div class="form-group">
        <label for="articleText">Text</label>
        <div class="d-block d-sm-none">
          <textarea #textMobile="ngModel" id="articleTextMobile" name="articleTextMobile" class="form-control" rows="3" [(ngModel)]="newArticleText" required></textarea>
          <div *ngIf="textMobile.invalid && (textMobile.dirty || textMobile.touched)" class="alert alert-danger">
            Text is required.
          </div>
        </div>
        <div class="d-none d-sm-block">
          <textarea #textDesktop="ngModel" id="articleText" name="articleText" class="form-control" rows="10" [(ngModel)]="newArticleText" required></textarea>
          <div *ngIf="textDesktop.invalid && (textDesktop.dirty || textDesktop.touched)" class="alert alert-danger">
            Text is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <p>Maximum number of choices</p>
        <div class="row">
          <div class="col-sm-auto">
            <div ngbRadioGroup class="btn-group btn-group-toggle btn-block" name="maxChoicesOptions" [(ngModel)]="maxChoices">
              <label ngbButtonLabel *ngFor="let option of maxChoicesOptions" class="btn btn-outline-secondary">
                <input ngbButton type="radio" [value]="option" />
                {{option}}
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-sm-auto">
          <a class="btn btn-outline-secondary btn-block" (click)="toggleAdvancedOptions()">
            Advanced Options
          </a>
        </div>
      </div>
      <div [ngbCollapse]="!showAdvancedOptions">
        <div class="card mb-2">
          <div class="card-body">
            <div class="form-group">
              <p>Markov chain prefix length</p>
              <div class="row">
                <div class="col-sm-auto">
                  <div ngbRadioGroup class="btn-group btn-group-toggle btn-block" name="prefixLengthOptions" [(ngModel)]="prefixLength">
                    <label ngbButtonLabel *ngFor="let option of prefixLengthOptions" class="btn btn-outline-secondary">
                      <input ngbButton type="radio" [value]="option" />
                      {{option}}
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-sm-auto">
                <div class="btn-group-toggle">
                  <label ngbButtonLabel class="btn btn-outline-secondary btn-block">
                    <input ngbButton type="checkbox" name="ignoreCase" [(ngModel)]="ignoreCase" /> Ignore Letter Case
                  </label>
                </div>
              </div>
            </div>

            <div class="row mb-1">
              <div class="col-sm-auto">
                <div class="btn-group-toggle">
                  <label ngbButtonLabel class="btn btn-outline-secondary btn-block">
                    <input ngbButton type="checkbox" name="ignorePunctuation" [(ngModel)]="ignorePunctuation" /> Ignore Punctuation
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row justify-content-between">
          <div class="col-sm-auto mb-1 mb-sm-0">
            <button class="btn btn-success btn-block" (click)="save()">OK</button>
          </div>
          <div class="col-sm-auto">
            <button class="btn btn-outline-secondary btn-block" (click)="cancel()">Cancel</button>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
