<div class="card bg-primary">
  <div class="card-header text-white">Add New Article</div>
  <div class="card-body bg-light">

    <div class="form-group">
      <label for="articleTitle">Title</label>
      <input id="articleTitle" class="form-control" [(ngModel)]="newArticleTitle" />
    </div>

    <div class="form-group">
      <label for="articleText">Text</label>
      <textarea id="articleText" class="form-control" [(ngModel)]="newArticleText"></textarea>
    </div>

    <div class="form-group">
      <p>Markov chain prefix length</p>
      <div class="form-check form-check-inline" *ngFor="let option of prefixLengthOptions">
        <input class="form-check-input" type="radio" name="prefixLengthOptions" id="prefixLength{{option}}" [(ngModel)]="prefixLength" [value]="option" />
        <label class="form-check-label" for="prefixLength{{option}}">{{option}}</label>
      </div>
    </div>

    <div class="form-group">
      <div class="row justify-content-between">
        <div class="col-sm-auto mb-1 mb-sm-0">
          <button class="btn btn-success btn-block" (click)="add()">OK</button>
        </div>
        <div class="col-sm-auto">
          <button class="btn btn-outline-secondary btn-block" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </div>

  </div>
</div>
