<div *ngIf="isAdding">
  <articles-create (close)="finishAdding($event)"></articles-create>
</div>

<div *ngIf="!isAdding">
  <button class="btn btn-primary mb-1" (click)="startAdding()">Add New Article</button>
</div>

<ul class="list-group">
  <li *ngFor="let article of articles" class="list-group-item d-flex justify-content-between align-items-center"><a [routerLink]="['article', article.id]">{{ article.title }}</a> <a tabindex="0" (click)="remove(article)" class="delete">&times;</a></li>
</ul>
