<div [hidden]="!isAdding">
  <articles-create [articleId]="articleId" (close)="finishAdding($event)" (update)="updateList()"></articles-create>
</div>

<div *ngIf="!isAdding">
  <div class="row">
    <div class="col-sm-auto">
      <button class="btn btn-primary btn-block" (click)="startAdding()">Add New Article</button>
    </div>
  </div>
</div>

<ul class="list-group mt-2">
  <li *ngFor="let article of articles" class="list-group-item d-flex justify-content-between align-items-center">
    <span *ngIf="article.state === articleState.Processed">
      <a [routerLink]="['article', article.id]" class="pr-3">{{ article.title }}</a>
      <a tabindex="0" (click)="edit(article)" class="oi oi-pencil text-primary text-decoration-none"></a>
    </span>

    <span *ngIf="article.state === articleState.Processing">{{ article.title }} &ndash; processing...</span>
    <span *ngIf="article.state === articleState.Failed">{{ article.title }} &ndash; failed.</span>

    <a *ngIf="article.state !== articleState.Processing" tabindex="0" (click)="remove(article)" class="oi oi-x text-danger text-decoration-none"></a>
  </li>
</ul>
