<!-- ko with: articles -->

<div class="jumbotron">
    <h1>Articles</h1>
</div>

<div id="selected-article" data-bind="visible: isSelected">
    <h2 data-bind="text: selectedArticleTitle"></h2>
    <div class="multiline" data-bind="text: startText"></div>
    <ul data-bind="foreach: variants">
        <li><a href="#" data-bind="text: $data, click: $parent.check"></a></li>
    </ul>
    <h3 data-bind="text: 'Score: ' + score(), css: scoreStyle"></h3>
    <button data-bind="click: backToList">Back to list</button>
</div>

<div data-bind="visible: !isSelected()">
    <button data-bind="click: function () { isAdding(true); }, visible: !isAdding()">Add new article</button>
    <div style="display: none;" data-bind="visible: isAdding">
        <h2>Add new article</h2>
        <label for="titleInput">Title</label>
        <br />
        <input id="titleInput" type="text" name="name" data-bind="value: newArticleTitle" />
        <br />
        <label for="textInput">Text</label>
        <br />
        <textarea id="textInput" cols="80" rows="10" data-bind="value: newArticleText"></textarea>
        <div>
            <button data-bind="click: add">OK</button>
            <button data-bind="click: cancel">Cancel</button>
        </div>
    </div>

    <table data-bind="foreach: articles">
        <tr>
            <td><a href="#" data-bind="text: title, click: $parent.open"></a></td>
            <td><a href="#" data-bind="click: $parent.remove">Remove</a></td>
        </tr>
    </table>
</div>

<!-- /ko -->
