/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
  cursor: pointer;
}

  a.delete {
      color: red;
  }

  a:hover {
    text-decoration: underline;
  }

code {
  color: #e01a76;
}

.main-content {
  margin-top: 57px;
}

.reading-panel {
  margin-top: 57px;
}

.reading-content {
  margin-top: 220px;
}

.multiline {
  white-space: pre-wrap;
}

.right {
  color: lime;
}

.wrong {
  color: red;
}
