/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
  cursor: pointer;
}

  a.delete {
      color: red;
  }

  a:hover {
    text-decoration: underline;
  }

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.multiline {
  white-space: pre-wrap;
}

.right {
  color: lime;
}

.wrong {
  color: red;
}
