<div class="sticky-top bg-white reading-panel pt-2 pb-2">
  <div class="row d-flex justify-content-sm-between pb-2">
    <div class="col-sm-6">
      <h2 class="text-truncate" *ngIf="article">{{ article.title }}</h2>
    </div>

    <div class="col-sm-auto">
      <articles-score [score]="score"></articles-score>
    </div>

    <div class="col-sm-auto">
      <articles-navigation *ngIf="article" [articleId]="article.id" (navigate)="navigateToPosition($event)"></articles-navigation>
    </div>
  </div>

  <ngb-progressbar type="success" [value]="progress"></ngb-progressbar>
</div>

<div class="multiline pb-2" [style.top]="readingContentTop"><span>{{ startingText }}</span><span class="font-weight-bold">{{ newText }}</span></div>

<div class="list-group list-group-horizontal-sm pb-2">
  <a *ngFor="let choice of choices" class="list-group-item list-group-item-action text-center font-weight-bold border-dark right"
     [ngClass]="choice === correctAnswer && showCorrectAnswer
       ? 'bg-success text-white'
       : choice === incorrectAnswer && showIncorrectAnswer
       ? 'bg-danger text-white'
       : 'bg-light'"
     (click)="check(choice)">{{ choice }}</a>
</div>
