<h2 *ngIf="article">{{ article.title }}</h2>

<articles-navigation *ngIf="article" [articleId]="article.id" (navigate)="navigateToPosition($event)"></articles-navigation>

<h3 [class]="scoreStyle">Score: {{ score }}</h3>

<div class="multiline mb-2">{{ startText }}</div>

<div class="list-group list-group-horizontal-sm">
  <a *ngFor="let choice of choices" class="list-group-item list-group-item-action" (click)="check(choice)">{{ choice }}</a>
</div>

<div class="row">
  <div class="col-sm-auto">
    <a class="btn btn-outline-secondary btn-block mt-2" routerLink="/">Back to List</a>
  </div>
</div>
