<div class="sticky-top bg-white pt-2 pb-2">
  <div class="row d-flex justify-content-sm-between pb-2 pb-sm-0">
    <div class="col-sm-auto">
      <h2 class="text-truncate" *ngIf="article">{{ article.title }}</h2>
    </div>

    <div class="col-sm-auto">
      <articles-score [score]="score"></articles-score>
    </div>

    <div class="col-sm-auto">
      <articles-navigation *ngIf="article" [articleId]="article.id" (navigate)="navigateToPosition($event)"></articles-navigation>
    </div>
  </div>

  <ngb-progressbar type="success" [value]="progress"></ngb-progressbar>
</div>

<div class="multiline mb-2"><span>{{ startingText }}</span><span class="font-weight-bold">{{ newText }}</span></div>

<div class="list-group list-group-horizontal-sm">
  <a *ngFor="let choice of choices" class="list-group-item list-group-item-action text-center font-weight-bold border-dark right"
     [ngClass]="choice === correctAnswer && showAnswer ? 'bg-success text-white' : 'bg-light'"
     (click)="check(choice)">{{ choice }}</a>
</div>

<div class="row">
  <div class="col-sm-auto">
    <a class="btn btn-outline-secondary btn-block mt-2" routerLink="/">Back to List</a>
  </div>
</div>
