<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ActiveReader.Core.CoreSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ActiveReader.Core.CoreSettings>
            <setting name="PrefixDelimeter" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="PrefixLenght" serializeAs="String">
                <value>2</value>
            </setting>
        </ActiveReader.Core.CoreSettings>
    </applicationSettings>
</configuration>